body {
  color: #4d4d4d;
  margin: 0;
  padding: 0;
  background: #fff;
}

html.md-default-theme, html, body.md-default-theme, body {
  background-color: white;
}

.main-div {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}

.input-bar {
  font-size: 32px;
  color: #E91E63 !important;
  font-weight: 400;
}

.table {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  margin-top: 35px;
}

tr {
  transition: all 0.25 ease-in-out;
}

tr:hover {
  transform: scale(1.08px);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
