<div class="row" ng-controller="mainController">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Search with $http:</label> 
        <!-- <label>{{fundName | json}}</label> -->
        <input type="text" ng-model="fundName" uib-typeahead="query as query.name for query in getLocation($viewValue) | limitTo:10" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="input-bar">
        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
        <div ng-show="noResults">
            <i class="glyphicon glyphicon-remove"></i> No Results Found
        </div>
    </md-input-container>
    <md-button class="md-raised md-primary" style="padding: 2px 17px;" type="submit" ng-click="assetdetail(val)">Fetch Asset Details</md-button>
    <h1> {{ x.contractName }} </h1>
    <div class="">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Contract Name</th>
                    <td> {{ x.contractName }}  </td>
                </tr>
                <tr>
                    <th scope="row">Symbol</th>
                    <td> {{ x.symbol }}  </td>
                </tr>
               
                <tr>
                    <th scope="row">Currency</th>
                    <td> {{ x.currency }}  </td>
                </tr>
                
                <tr>
                    <th scope="row">Pricing Date</th>
                    <td> {{ x.pricingDate }}  </td>
                </tr>
                <tr>
                    <th scope="row">Last Price</th>
                    <td> {{ x.lastPrice }}  </td>
                </tr>
               
                <tr>
                    <th scope="row">High Price</th>
                    <td> {{ x.highPrice }}  </td>
                </tr>
                <tr>
                    <th scope="row">Low Price</th>
                    <td> {{ x.lowPrice }}  </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!--

uib-typeahead="detail as detail.name for detail in getLocation.details($viewValue)" -->
